@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Barlow+Condensed&family=Bebas+Neue&family=Comic+Neue&family=Josefin+Sans:wght@300;400&family=Kalam:wght@300&family=Mali:ital,wght@0,400;0,500;1,400&family=Marcellus&family=Roboto+Flex:opsz@8..144&family=Single+Day&display=swap");

.holiday-container {
  display: flex;
}

.holiday-selector-container {
  padding: 0 4%;
}

.selector {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -20px;
  margin-bottom: 20px;
  gap: 0 30px;
}

.select-title {
  color: #653e1f;
}

.select-holiday {
  border: none;
  width: 300px;
  height: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;
  color: #653e1f;
}

.selector-btn {
  color: #fff;
  background-color: #ae7352;
  font-size: 16px;
  border: none;
  height: 45px;
  width: 100px;
  border-radius: 20px;
  box-shadow: #f2d9bf 3px 3px 0 0;
  cursor: pointer;
}

.selector-btn:hover {
  color: #fff;
  background-color: #874a3f;
  transition: 0.6s;
  transform: translateY(-0.15em);
}

.holiday-header {
  color: #000000;
  font-family: "Comic Neue";
}

.holiday-content {
  font-weight: 400;
  border-bottom: 1px solid #d4bdb0;
  padding-bottom: 60px;
  padding-top: 20px;
}
.selector-msg {
  color: #ff504a;
  font-weight: 500;
}

/*holiday list*/

.holiday-list-date,
.holiday-list-name {
  display: inline;
  margin-right: 10px; /* Adjust the margin as needed */
  white-space: nowrap;
}

.holiday-list-container {
  column-count: 2;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  font-family: "Comic Neue";
}

.holiday-list-title {
  color: #653e1f;

  padding: 10px 0;
}

.holiday-list-date {
  background-color: #ffd1cf;
  padding: 8px;
  border-radius: 15px;
  color: #3d240f;
}

.holiday-list-item {
  padding: 20px;
  line-height: 1;
}

/*holiday imgr*/
.holiday-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.holiday-img1 {
  height: 250px;
}

.holiday-img2 {
  height: 160px;
}
