@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Barlow+Condensed&family=Bebas+Neue&family=Comic+Neue&family=Josefin+Sans:wght@300;400&family=Kalam:wght@300&family=Mali:ital,wght@0,400;0,500;1,400&family=Marcellus&family=Roboto+Flex:opsz@8..144&family=Single+Day&display=swap");

.income p {
  color: rgb(79, 175, 114);
  font-size: 40px;
}

.expense p {
  color: #ff837f;
  margin-left: 0.1rem;
  font-size: 40px;
}

.separator {
  border-left: 2px solid rgba(172, 172, 172, 0.25);
  margin: 15% 0 1rem 0;
}

.balance-t {
  font-size: 40px;
  color: #ab8159;
}
