@import url("https://fonts.googleapis.com/css2?family=Kalam");

.navBar {
  background-color: #c2a38f;
  padding: 90px;
  height: 100vh;
  display: flex;
}

.logo {
  font-family: "Kalam", cursive;
  color: #452107;
}

.nav {
  display: flex;
}
