.top-nav-bar {
  color: #fff;
  padding: 10px;
}

.main-nav {
  list-style-type: none;
  padding: 15px 60px;
  display: flex;
  justify-content: flex-end;
  gap: 50px;
  margin: 0px 0 40px;
}

.main-nav li {
  margin-right: 10px;
}

.nav-a {
  text-decoration: none;
  color: #ffffff;
  position: relative;
  font-size: 18px;
}

.nav-b {
  text-decoration: none;
  color: #452107;
  position: relative;
  font-size: 18px;
}

.nav-login {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
}
.log {
  color: #fff !important;
}

.nav-a:hover {
  text-decoration: underline;
}
.nav-login:hover,
.nav-login:focus {
  outline: none;
  transform: translate(0, -0.5vh) scale(1.1);
}
