/* .app {
  margin: 0 auto;
} */

@import url("https://fonts.googleapis.com/css?family=Schoolbell&v1");

.todolist {
  font-size: 1rem;
  font-weight: bold;
  border: 1px solid #4a3407;
  padding: 2%;
  gap: 2rem;
  height: 80vh;
  width: 40vh;
  text-align: center;
  color: #f1e9d9;
  background-color: #925628;
  border-radius: 1rem;
}

.taskinput {
  text-align: center;
  width: 8rem;
  background-color: #f1e9d9;
  border-radius: 1rem;
}

.todochecklist {
  flex-wrap: wrap;
  display: flex;
  margin: 1rem;
  padding: 5%;
  width: 30vh;
  font-family: "Schoolbell", arial, serif;
  border: 0.1rem dashed white;
}

.todos {
  word-wrap: break-word;
}
button {
  border: 0.1rem solid #4a3407;
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  padding: 0 18px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  background-color: #fff;
}

button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

.tasknum {
  margin: 0% 20%;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
