.expense-container {
  display: flex;
}

.expense-h4 {
  font-weight: 400;
  padding-bottom: 40px;
  padding-top: 40px;
}

.event-content-container {
  display: flex;
  flex-direction: column;
  padding: 0 4%;
  width: 80%;
}

.expense-content {
  display: flex;
  flex-direction: row;
  height: 100vh;
  margin: 10px 0;
  column-gap: 30px;
}

.expense-left {
  width: 50%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 60px;
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 20%;
}

.expense-right {
  width: 50%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 60px;
}

.expense-head {
  padding: 10% 0;
}

.expense-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.expense-caption {
  width: 70%;
}
.expense-h1 {
  color: #000000;
  font-family: "Comic Neue";
}

.expense-img {
  height: 250px;
}
