body {
  background-color: #f6ece3;
  box-sizing: border-box;
  margin: 0;
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}
.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  align-self: center;
  padding-bottom: 150px;
  font-family: "Comic Neue";
}

.home-h1 {
  font-size: 50px;
  font-weight: 700;
  color: #6a391b;
}

.home-p {
  font-size: 20px;
  font-weight: 400;
  color: #6a391b;
}
